.buy-card {
    background-color: #f8f8f8;
    padding: 20px;
    width: 90%;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: 20px;
}

.wallet-table {
    width: 100%;
    border-collapse: collapse;
}

.wallet-table th,
.wallet-table td {
    padding: 10px;
    text-align: center;
}

.wallet-table th {
    background-color: #333;
    color: white;
}

.buy-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #0056b3;
}

.sell-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    margin-left: 5px;
}

.sell-button:hover {
    background-color: #0056b3;
}