.news-card {
    background-color: #f5f5f5;
    /* Slight grey background */
    border: none;
    /* Add a border for separation */
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow for depth */
    margin: 16px;
    max-height: 500px;
    overflow-y: auto;
    margin-right: 6.5%;
    max-width: 50%;
}

.news-item {
    display: flex;
    margin-bottom: 16px;
}

.news-image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 8px;
    margin-right: 16px;
}

.news-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-content {
    flex: 1;
}

#newsCardTitle {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    /* Text color */
    margin-top: 5px;
}

.news-title {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    /* Text color */
    margin-bottom: 8px;
}

.news-title:hover {
    text-decoration: underline;
    /* Add underline on hover */
}

.news-description {
    font-size: 14px;
    color: #666;
    /* Description text color */
}