.account-details-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.sidebar-container {
    margin-right: 2rem; /* Increased margin for better spacing */
}

.content-container {
    padding: 1rem;
}

.section {
    margin-bottom: 1.5rem; /* Increased margin for better spacing */
}

.sectionAdd {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.section-title {
    font-size: 1.5rem; /* Larger font size for section titles */
    margin-bottom: 1rem;
    color: #333;
}

.info {
    font-size: 1rem; /* Adjusted font size for information */
    margin-bottom: 0.5rem; /* Reduced margin for information lines */
}

.logout-button {
    background-color: #007CFF; /* Adjusted button color */
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem; /* Smoother button corners */
    cursor: pointer;
    margin-right: 1rem; /* Increased margin for better spacing */
}

.logout-button:hover {
    background-color: #005FBF; /* Darker color on hover */
}

.sectionAdd button{ 
    background-color: #007CFF; /* Adjusted button color */
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem; /* Smoother button corners */
    cursor: pointer;
    margin-right: 1rem; /* Increased margin for better spacing */
}

.add-funds-button button:hover {
    background-color: #005FBF; /* Darker color on hover */
}