* {
    font-family: 'Open Sans', sans-serif;
}

/* .commentModalContainer button {
    background-color: rgb(0, 82, 255);
    color: white;
    border-radius: 15px;
    padding: 5px 5px;
} */
.commentModalContainer button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    margin-left: 5px;
}

.commentModalContainer button:hover {
    background-color: #0056b3;
}

#actionButtonsCommentDiv {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 5px;
    margin-left: 5px;
    margin-bottom: 15px;
}

#commentDiv {
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

#fullCommentDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    padding-right: 5px;
}

#scrollComment {
    max-height: 340px;
    overflow-y: auto;
}

#commentInfoDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bullishTag {
    background-color: rgb(20, 188, 11);
    border-radius: 5px;
    padding: 5px 8px;
    margin: 5px 4px 5px 5px;
    padding-left: 15px;
    width: 55px;
    color: white;
}

#bearishTag {
    background-color: rgb(240, 97, 109);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin: 5px 5px 5px 5px;
    color: white;
}

#commentDate {
    font-size: 12px;
    color: grey;
}

#commentTextContainer {
    margin-left: 5px;
    margin-bottom: 5px;
}

.isActiveG {
    background-color: rgb(20, 188, 11);
}

.isActiveR {
    background-color: rgb(240, 97, 109);
}

.isNotActive {
    background-color: grey;
}


#updateButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#updateButtons button {
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 36px;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 25px;
}

#updateCommentHeader {
    display: flex;
    flex-direction: column;
}

#updateCommentHeaderA {
    margin-top: 35px;
    margin-bottom: 15px;
    padding-right: 65px;
    padding-left: 65px;
    font-size: 25px;
    font-weight: bold;
}

#updateCommentHeaderB {
    margin-bottom: 15px;
    padding-right: 65px;
    padding-left: 85px;
    font-size: 15px;
}

#submitUpdateCommentButtonDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#nothingDiv {
    border-top: 2px solid lightgrey;
    width: 75%;
    margin-left: 45px;
}

#submitUpdateCommentButton {
    background-color: rgb(0, 82, 255);
    border-radius: 15px;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 15px;
}

#updateCommentTextAreaDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#updateCommentTextArea {
    width: 80%;
    height: 100px;
    resize: none;
}

#deleteHeaderA {
    font-size: 23px;
    margin: 25px 30px;
}

#deleteButtonDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

#createCommentHeader {
    font-size: 23px;
    margin: 40px 55px;
    padding-left: 90px;
}

#createButtons {
    margin-left: 90px;
}

#createButtons button {
    border-radius: 20px;
    font-size: 20px;
    padding: 5px 5px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    width: 175px;
    color: white;
}


#commentCardBackground {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: 20px;
}

#commentsHeadingA {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

#isNotActiveB {
    background-color: grey;
    border-radius: 15px;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 15px;
}

#noteDiv {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}