#homePageImg {
    width: 100%;
    height: 100%;
}

#firstSeg {
    display: flex;
    flex-direction: row;
}

#firstSegTextDiv {
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 50px;
    width: 70%;
}

#firstSegBlurb {
    width: 70%;
    padding-left: 45px;
}

#firstSegSignUpDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 50px;
}

#firstSegInput {
    width: 100%;
    margin-right: 15px;
    padding: 15px 15px;
    border-radius: 10px;
    border: 1px solid grey;
}

#firstSegSignUpButton button {
    background-color: rgb(0, 82, 255);
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
}

#secondSeg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#secondSegText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#secondSegA {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 35px;
    font-size: 20px;
    font-weight: bolder;
}

#moreAssetButtonDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#moreAssetButtonDiv button {
    background-color: rgb(0, 82, 255);
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
    margin-top: 25px;
}

.coinLogos {
    width: 50px;
    height: 50px
}

#assetBoxDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 30%;
    margin: 0 auto;
    margin-top: 45px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    height: 100px;
    border-radius: 15px;
}

/* Below here is logged */

#homePageFullDiv {
    display: flex;
    flex-direction: row;
}

/* #walletAndBuyingPowerDiv {
    display: flex;
    flex-direction: row ;
} */

/* #walletDivHome {
    display: flex;
    flex-direction: row;
} */

/* #contentDivHo {
    display: flex;
    flex-direction: column;
} */

#trendingCardDiv {
    max-height: 80%;
    margin-top: 5%;
}

#trendingAndBuyingPowerDiv {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

#walletPortfolioDiv {
    width: 55%;
    margin-right: 20%;
}

#breakdownText {
    font-size: 20px;
    margin-top: 15px;
    padding-top: 15px;
    margin-left: 5%;
}