.watchlistCardContainer {
    margin-left: 50px;
    padding: 20px;
}

.watchlistHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.watchlistTitle {
    font-size: 24px;
    font-weight: bold;
    margin-right: 5px;
}

#fullPageDivP {
    display: flex;
    flex-direction: row;
}

.watchlistUpdateButton {
    margin-left: 10px;
}

.watchlistButtonA {
    margin-left: 35px;
}

.watchlistButtonB {
    margin-top: 15px;
    cursor: pointer;
}

.coinTable {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
}

.coinTable th,
.coinTable td {
    padding: 10px;
    text-align: center;
}

.coinTable th {
    background-color: #f0f0f0;
    font-weight: bold;
}

#watchlistUpdateDivM button {
    background-color: rgb(0, 82, 255);
    color: #ffffff;
    border: none;
    padding: 6px 10px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
}

#watchlistUpdateDivM button:hover {
    background-color: #2980b9
}

.coinTable button {
    background-color: rgb(0, 82, 255);
    color: #ffffff;
    border: none;
    padding: 6px 10px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
    margin-top: 2px;
}

.coinTable button:hover {
    background-color: #2980b9;
}

.emptyWatchlistMessage,
.checkOutAssetsMessage,
.loadingMessage {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.checkOutAssetsMessage{
    background-color: rgb(0, 82, 255);
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
}

#emptyWatchlistDivA {
    margin-left: 50px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.checkOutAssetsMessageM {
    background-color: rgb(0, 82, 255);
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 15px;
}

#emptyWatchlistDivB{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

#emptyWatchlistDivB button {
    width: 150px;
}


#goToAddDiv {
    display: flex;
    flex-direction: row;
}


#watchlistLoaderDiv {
    display: flex;
    flex-direction: row;
    justify-content: top;
    align-items: center;
    margin-top: 0px;
    margin-left: 400px;
}